@font-face {
  font-family: 'iconfont';  /* project id 1338689 */
  src: url('https://at.alicdn.com/t/font_1338689_op4bnnl6kl.eot');
  src: url('https://at.alicdn.com/t/font_1338689_op4bnnl6kl.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1338689_op4bnnl6kl.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1338689_op4bnnl6kl.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1338689_op4bnnl6kl.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1338689_op4bnnl6kl.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

