<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开发TodoList</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="Butclick">添加</button>
        <ul>
            <li v-for="itme in list">{{itme}}</li>
            
        </ul>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                list:[]
            },
            methods: {
                Butclick:function(){
                    this.list.push(this.inputValue);
                    this.inputValue = " ";
                }
            }
        })
    </script>
</body>
</html>