<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简单组件间的传值</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button @click="ButClick">添加</button>
        <ul>
            <todo-item v-for="(item,index) in list"
                        v-bind:index="index"
                        v-bind:content="item"
                        @delete="LiDelete">
                
            </todo-item>
        </ul>
    </div>
    <script>
        var TodoItem = {
            props: ["content","index"],
            template:"<li @click='LiClick'>{{content}}</li>",
            methods: {
                LiClick:function(){
                    this.$emit("delete",this.index)     
                }
            }
        }
        var app = new Vue({
            el:"#app",
            data:{
                list:[],
                inputValue:""
            },
            components: {
                TodoItem:TodoItem
            },
            methods:{
                ButClick:function(){
                    this.list.push(this.inputValue);
                    this.inputValue = "";
                },
                LiDelete:function(index){
                    this.list.splice(index,1);
                }
            }
        })
    </script>
</body>
</html>